/* General Image Styling */
.styled-img {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Ensures uniform image sizes in the Gallery and Achievements sections */
.uniform-img {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
}

/* Hero Section */
.hero {
    background: url('imgs/whitehouse.jpg') no-repeat center center/cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}


/* Quotes Section */
#quotes {
    background: linear-gradient(to right, #343a40, #23272b);
}

/* Button Styling */
.btn-light {
    background-color: #f8f9fa;
    color: #000;
    border: 2px solid #f8f9fa;
    transition: 0.3s;
}

.btn-light:hover {
    background-color: #ffffff;
    color: #000;
    border-color: #dcdcdc;
}
img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    background: none;
  }
  